<!DOCTYPE html> 
<html> 
<h1>Photos</h1>
    <div>
        <p>Add photos to your collection</p> 
        <form method="post" action="/api/photos/add" encType="multipart/form-data">
            <div id="inputDiv">
                <label for="imgSelect">Select Image:</label>
            </div>
            <div id="reactDiv">
            </div>
        </form>
    </div>
    <script src="../../main.js"></script>   
</html>